.flexColumn {
	flex-direction: column;
}

.innerContainer {
	padding: 6.25rem 0;
	display: flex;
	justify-content: space-between;
}

.inputContainer {
	margin-top: 1.875rem;
	position: relative;

	.email {
		padding: 1.25rem 1.5rem;
		background-color: transparent;
		border: var(--common-border);
		border-radius: var(--common-radius);

		width: clamp(245px, 20vw, 370px);
		font-size: 1.125rem;

		transition: border-color 0.15s ease-in-out ;

		&:focus {
			border-color: var(--cta);
		}
	}

	.send {
		position: absolute;
		right: 1.5rem;
		top: 50%;
		transform: translateY(-50%);
		background-color: transparent;
		border: none;

		img {
			width: 1.5rem;
		}
	}
}