.content {
  display: flex;
  align-items: center;
  height: calc(48vw / 1.13022113022);
  max-height: 814px;
}

.left {
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  box-sizing: none;
}

.buttonsRow {
  display: flex;
  gap: 1.25rem;
}

section {
  position: relative;
}

.right {
  width: 48vw;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;

  display: flex;
  justify-content: flex-end;
}

.image {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  max-width: 920px;
}
