.properties {
	display: flex;
	gap: var(--common-gap);
}

.card {
	flex-shrink: 0;
	width: var(--card-width-clamp);
	padding: 2.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.875rem;

	border: var(--common-border);
	border-radius: var(--common-radius);

	img {
		object-fit: cover;
		border-radius: 10px;
		width: 100%;
	}
}

.text {
	p {
		margin-top: 0.375rem;

		a {
			text-decoration: underline;
			color: var(--text-color-1);
			display: inline;
			transition: color 0.1s ease;

			&:hover {
				color: var(--cta);
			}
		}
	}
}

.info {
	display: flex;
	align-items: center;
	gap: 0.625rem;

	span {
		padding: 0.5rem 0.875rem;
		display: flex;
		align-items: center;
		gap: 0.25rem;

		font-size: 1.125rem;
		font-weight: 500;
		line-height: 150%;

		background-color: var(--grey-2);
		border: var(--common-border);
		border-radius: 28px;

		img {
			width: 1.5rem;
		}
	}
}

.footer {
	display: flex;
	justify-content: space-between;
}