.slider {
	overflow: hidden;
}

.tools {
	margin-top: 3.125rem;
	padding-top: 1.25rem;
	border-top: 1px solid var(--grey-3);
	display: flex;
	justify-content: space-between;
	align-items: center;

	.slideNumber {
		color: var(--text-color-2);
		font-weight: 500;
		font-size: 1rem;
		line-height: 150%;

		span {
			color: var(--text-color-1);
		}
	}

	.arrows {
		display: flex;
		gap: 0.625rem;

		button {
			border-radius: 50%;
			padding: 0.875rem;

			svg {
				width: 1.875rem;
			}

			&:first-child {
				svg {
					transform: rotate(180deg);
				}
			}

			&:disabled {
				background-color: var(--grey-1);
				color: #808080;

				&:hover {
					border: var(--common-border);
					transform: none;
					box-shadow: none;
				}
			}
		}
	}
}